* {
    box-sizing: border-box;
    // background: black;
}

.app-container {
    // background: black;
    height: 94vh;
    width: 100%;
    // border: 1px solid blue;
    margin: 0;
    padding: 0;
    // background: #343a40;
}
